.ImgMail{
    width: 100px;
}
.textoCtt1{
    color: #60316e;
    font-size: 18px;
}
.textoCtt2{
    color: #60316e;
    font-size: 20px;
    line-height: 2;
}
.TopoMargin{
    margin-top: 115px;
}
.TopoMargin2{
    margin-top: 115px;
    text-align: end;
}