.ImgMail{
    width: 100px;
}
.textoCtt1{
    color: #60316e;
    font-size: 18px;
}
.textoCtt2{
    color: #60316e;
    font-size: 20px;
    line-height: 2;
}
.TopoMargin{
    margin-top: 115px;
}
.TopoMargin2{
    margin-top: 115px;
    text-align: end;
}


/* mobile */
.TopoMarginM{
    margin-top: 35px;       
}
.TopoMargin2M{
    margin-top: 35px;
    text-align: end;
}
.tamanhoCttMobile{
    max-width: 400px;
    margin-top: 25px;
}

.textoCtt1Mobi{
    color: #60316e;
    font-size: 12px;
}

.textoCtt2Mobi{
    color: #60316e;
    font-size: 16px;
    line-height: 2;
}
.ImgMailMobi{
    width: 50px;
}
.emailGeralMobile{
    margin-left: -70px;
}
